.chatInput {
  border-radius: 20px;
}

.chatInput > form {
  position: relative;
  display: flex;
  justify-content: center;
}

.chatInput > form > input {
  position: fixed;
  bottom: 30px;
  width: 54%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
}

/* hidden button that will act as a submit on enter */
.chatInput > form > button {
  display: none !important;
}
